# lib
client/ext
server/node_modules

# Architect
client/.architect
client/.sencha

# Build
client/build

# COnf
client/app/util/Conf.js

# Sass
.sass-cache
.sencha_backup

# MISC
.idea
.DS_Store
.ant-cache
